header {
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
    font-family: 'Niramit', sans-serif;
    font-size: 100px;
    background-size:cover;
    color:#fff;
    text-shadow:2px 2px 2px rgba(0,0,0,0.5);
}